/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Fira Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 50%;
  background-color: rgba(166, 189, 223, 0.4);
  filter: drop-shadow(5px 5px 15px);
  z-index: 1;
  backdrop-filter: blur(5px);
}
header .word-logo {
  display: flex;
  justify-content: space-between;
}
header .word-logo h2 {
  padding: 5px;
}
header .word-logo i {
  display: flex;
  align-items: center;
  padding: 5px;
}
header a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.center-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
}
.container-welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.container-welcome h2 {
  font-size: 2.6rem;
}
.container-welcome a {
  text-decoration: none;
  color: #3A648C;
}
.main-content {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: center;
}
.main-content .main-text {
  padding: 30px;
  background-color: whitesmoke;
}
.in-between {
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: #7990B1;
}
.in-between .questions {
  color: whitesmoke;
}
.middle-content {
  display: flex;
  padding: 20px;
  width: 100%;
}
.middle-content .middle-text {
  padding: 30px;
  background-color: whitesmoke;
}
.actions {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.actions a {
  padding: 10px 30px;
  margin: 10px;
  font-size: 2.6rem;
  border: 2px #3A648C;
  background-color: #3A648C;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 4px;
}
a:hover {
  background-color: #BAB6CA;
  color: black;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  margin: 20px;
  background-color: whitesmoke;
  color: black;
}
#about .about-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.3rem;
  background-color: whitesmoke;
  padding: 15px;
}
