/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Fira Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 50%;
  background-color: rgba(166, 189, 223, 0.4);
  filter: drop-shadow(5px 5px 15px);
  z-index: 1;
  backdrop-filter: blur(5px);
}
header .word-logo {
  display: flex;
  justify-content: space-between;
}
header .word-logo h2 {
  padding: 5px;
}
header .word-logo i {
  display: flex;
  align-items: center;
  padding: 5px;
}
header a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.center-text {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
  display: flex;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #293341;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
  /* The typewriter cursor effect */
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #293341;
  }
}
@media (max-width: 500px) {
  .center-text {
    font-size: 1.2rem;
    top: 125px;
  }
}
@media (max-width: 500px) {
  .top-section {
    top: 20%;
    transform: -50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
.container-welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.container-welcome h2 {
  font-size: 2.6rem;
}
.container-welcome a {
  text-decoration: none;
  color: #3A648C;
}
.main-content {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: center;
  background-color: whitesmoke;
  align-items: center;
}
@media (max-width: 800px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
}
.main-content .main-text {
  padding: 30px;
  background-color: whitesmoke;
}
.in-between {
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: #7990B1;
}
.in-between .questions {
  color: whitesmoke;
}
.middle-content {
  display: flex;
  padding: 20px;
  width: 100%;
  align-items: center;
  background-color: whitesmoke;
}
@media (max-width: 800px) {
  .middle-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.middle-content .middle-text {
  padding: 30px;
  background-color: whitesmoke;
}
.actions {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}
.actions a {
  padding: 10px 30px;
  margin: 20px;
  font-size: 2.6rem;
  border: 2px #3A648C;
  background-color: #3A648C;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 4px;
}
a:hover {
  background-color: #BAB6CA;
  color: black;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px dashed black;
  background-color: whitesmoke;
  color: black;
}
.contact p {
  padding: 5px 5px;
}
.about-section {
  background-color: #7990B1;
}
.about-text {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.3rem;
  background-color: whitesmoke;
  padding: 15px;
}
@media (max-width: 500px) {
  .about-text {
    top: 200px;
    font-size: 2.2rem;
  }
}
.about-main {
  display: flex;
  background-color: #7990B1;
}
@media (max-width: 500px) {
  .about-main {
    display: flex;
    flex-direction: column;
  }
}
.ben {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.ben h3 {
  padding: 15px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .ben h3 {
    padding: 20px;
    font-size: 2.6rem;
  }
}
.ben p {
  padding: 15px;
}
@media (max-width: 500px) {
  .ben p {
    padding: 20px;
    border: 3px solid pink;
  }
}
.hector {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hector h3 {
  padding: 15px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .hector h3 {
    padding: 20px;
    font-size: 2.6rem;
  }
}
.hector p {
  padding: 15px;
}
@media (max-width: 500px) {
  .hector p {
    padding: 20px;
    border: 3px solid pink;
  }
}
.rayven {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rayven h3 {
  padding: 15px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .rayven h3 {
    padding: 20px;
    font-size: 2.6rem;
  }
}
.rayven p {
  padding: 15px;
}
@media (max-width: 500px) {
  .rayven p {
    padding: 20px;
    border: 3px solid pink;
  }
}
.ryan {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ryan h3 {
  padding: 15px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .ryan h3 {
    padding: 20px;
    font-size: 2.6rem;
  }
}
.ryan p {
  padding: 15px;
}
@media (max-width: 500px) {
  .ryan p {
    padding: 20px;
    border: 3px solid pink;
  }
}
