

.container-welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    // border: 1px solid black;

h2 {
    font-size: 2.6rem;
    
}

a {
    text-decoration: none;
    color: #3A648C;
}

}

.main-content {
    display: flex;
    // flex-direction: column;
    padding: 20px;
    width: 100%;
    justify-content: center;
    // // border: 4px solid pink;
    // background-image: url("../images/handswall.jpg");
    // position: relative;
    // // opacity: 0.65;
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    

    .main-text {
        padding: 30px;
        background-color: whitesmoke;
    }

}

.in-between {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: #7990B1;
    

   .questions {
        color: whitesmoke;
   }

}


.middle-content {
    display: flex;
    padding: 20px;
    width: 100%;
    // background-image: url("../images/peoplelaughing.jpg");
    // position: relative;
    // // opacity: 0.65;
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    .middle-text {
        padding: 30px;
        background-color: whitesmoke;
    }


}

.actions {
    display: flex;
    justify-content: center;
    padding: 20px;

    a {
        padding: 10px 30px;
        margin: 10px;
        font-size: 2.6rem;
        border: 2px #3A648C;
        background-color: #3A648C;
        text-decoration: none;
        color: whitesmoke;
        border-radius: 4px;

    }

   

}

a:hover {
    background-color: #BAB6CA;
    color: black;
}


.contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    background-color: whitesmoke;
    color: black;
}

#about .about-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.3rem;
    background-color: whitesmoke;
    padding: 15px;
    
}