.container-welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border: 1px solid black;

h2 {
    font-size: 2.6rem;
    
}

}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}


.contact-us {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
