header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 50%;
    // background-color: #A6BDDF;
    background-color: rgba(166, 189, 223, .40);
    filter: drop-shadow(5px 5px 15px);
    z-index: 1;
    backdrop-filter: blur(5px);
    


    .word-logo {
        display: flex;
       justify-content: space-between;
       

       h2 {
           padding: 5px;
       }

       i {
           display: flex;
           align-items: center;
           padding: 5px;
       }
    }


    a {
        padding: 10px;
        text-decoration: none;
        font-size: 1.4rem;
        color: black;
    }



}

.center-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;

}

