header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 50%;
    // background-color: #A6BDDF;
    background-color: rgba(166, 189, 223, .40);
    filter: drop-shadow(5px 5px 15px);
    z-index: 1;
    backdrop-filter: blur(5px);
    


    .word-logo {
        display: flex;
       justify-content: space-between;
       

       h2 {
           padding: 5px;
       }

       i {
           display: flex;
           align-items: center;
           padding: 5px;
       }
    }


    a {
        padding: 10px;
        text-decoration: none;
        font-size: 1.4rem;
        color: black;
    }



}



.actions {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3rem;
    padding: 10px 10px;
    width: 100%;
}


.center-text {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3rem;
    display: flex;

    overflow: hidden; 
    border-right: .15em solid #293341;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .5s step-end infinite;

    @keyframes typing {
        from { width: 0 }
        to { width: 75% }
      }
      
      
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #516b8f; }
      }

        @media @tablet {
          font-size: 1.6rem;
          top: 130px;
          
    }

      @media @mobile {
        top: 125px;
        font-size: 1.2rem;
      } 

}
